

<div class="grid">
    <div class="container">
        <img src="{{this.img}}" alt="">
        <h1 class="title">
            Name:{{this.title}}
        </h1>
        <h2 class="price">
            Value: US${{this.price}}
        </h2>
        <p class="size">
            Size: {{this.size}}
        </p>
    
        <p class="description">
            Description:{{this.description}}
        </p>
    </div>
</div>
